---
import {getCollection} from 'astro:content'
const blogPosts = await getCollection("blog")
import BaseLayout from '../layouts/BaseLayout.astro';
import {BlogCard} from '../components/blog-card/blog-card'
// Can't just let me sort by date, can you Javascript?
const sortedPosts = blogPosts.sort((a, b) => {
    return a.data.publishedDate.getTime() - b.data.publishedDate.getTime();
})
---
<style>
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: blue;
    }
    ul {
        display: flex;
        flex-direction: column;
    }

</style>
<BaseLayout title='Blog'>
    <main>
        <h1>For all my ramblings, musings, and thoughts about stuff</h1>
        <ul>
        {
            sortedPosts.map((post) => (
                <li>
                    <BlogCard title={post.data.title} image={post.data.image} slug={post.slug}/>
                </li>
            )).reverse()
        }
        </ul>
    </main>
</BaseLayout>
